/*
 * Globals
 */

/* Links */
a,
a:focus,
a:hover {
    color: #fff;
}

/* Custom default button */
.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
    color: #333;
    text-shadow: none; /* Prevent inheritance from `body` */
    background-color: #fff;
    border: .05rem solid #fff;
}


/*
 * Base structure
 */

html {
    scroll-behavior: smooth;
}   

html,
body {
    background-color: #101213;
}

body {
    color: #fff;
    text-align:center;
    text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);
    box-shadow: inset 0 0 0 0 rgba(0, 0, 0, .5);

    background-size: 40px 40px;
    background-image: radial-gradient(circle, grey 1px, rgba(0, 0, 0, 0) 1px);

}

/*
 * Header
 */
.masthead {
    margin-bottom: 2rem;
}

.masthead-brand {
    margin-bottom: 0;
}

.navbar-dark {
    background-color:#101213;
    opacity: 0.9;
}

.nav-masthead .nav-link {
    padding: .25rem 0;
    font-weight: 700;
    color: rgba(255, 255, 255, .5);
    border-bottom: .25rem solid transparent;
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
    border-bottom-color: rgba(255, 255, 255, .25);
}

.nav-masthead .nav-link + .nav-link {
    margin-left: 1rem;
}

.nav-masthead .active {
    color: #fff;
    border-bottom-color: #fff;
}

@media (min-width: 48em) {
    .masthead-brand {
        float: left;
    }
    .nav-masthead {
        float: right;
    }
}

h1 {
    margin-bottom: 1.5rem;
    font-size: 3.75rem;
}
h2 {
    margin-bottom: 4rem; 
}


.btn-primary {
    background-color: #d22f23;
    border-color: #d22f23;
}

.hello {
    background-color:#d22f23;
    padding: 13rem 0 5rem 0rem;
    margin: 0rem;
    background: linear-gradient(
    -166deg
    , #fc7158 0%
    , #d22f23 70% 
    );
 }

 .hello h1 {
     font-size:3rem;
 }

 .spacer {
     padding: 10rem 0rem 4rem 0rem;
     font-size: 2.75rem;
 }

 .card {
     background-color: #d22f23;
     border-radius: 0;
     border: none;
     background: linear-gradient(
     -40deg
     , #fc7158 0%
     , #d22f23 70% 
     );
 }

 .services .col-lg-4,
 .tools .col-sm-2 {
     padding-top:2rem;
 }

 .card img {
     border-radius: 0;
     width: 100%;
     height: 200px;
     object-fit: cover;
 }

 .services {
     color: white;
 }

 .services h3 {
     margin-top: 1rem;
     margin-bottom: 1rem;
 }

 .contact {
     background-color: transparent;
     margin-bottom: 5rem;
 }

 .tech .container .col-md-4 {
     padding-right: 0;
     padding-left: 0;

     background: linear-gradient(
     -40deg
     , #fc7158 0%
     , #d22f23 70% 
     );
 }

 .tech .container .col-md-8 {
     background-color:#141719;
     text-align:left;
     padding: 1rem;
 }

 .tech .list-group {
     margin-right: auto;
     margin-left: auto;
 }

 .tech .list-group .list-group-item {
     background-color:transparent;
     border:none;
     text-align:left;
 }

 .tech .row {
     margin-left:0;
     margin-right:0;
     padding: 1rem;
 }

 .tech h3 {
     margin: 0;
     font-size: 1.35rem; 
 }
 .tech p {
     margin: 0;
 }
 .tech i {
     margin-right: 1rem;
 }
 .tech .nav-link {
     border-radius: 0;
     font-size: 1.25rem;
     text-align:left;
 }

 .tech .nav-pills .nav-link.active {
     background-color:#eeeeee;
     color:#d22f23;
 }

 .tools .card {
     padding: 1rem .5rem 1rem .5rem;
 }

 .tab-content h2 {
     font-size: 1.5rem;
     margin-bottom: 1rem;
     padding-bottom: .5rem;
     border-bottom: 1px dotted #eee;
 }

 .tab-content h3 {
     padding-top: 1rem;
     padding-bottom: .5rem;
 }

 .tab-content p {
     padding-bottom: .5rem;
 }

 .tech .btn {
     margin-top:.5rem;
 }

 /*
  * Footer
  */
footer {
    background-color: #d22f23;

    background: linear-gradient(
    -40deg
    , #fc7158 0%
    , #d22f23 40% 
    );
}

footer .list-group-item {
    background-color: transparent;
    border:none;
    border-radius: 0;
    padding: 1rem 1.5rem 0 0;
}

.mastfoot {
    color: rgba(255, 255, 255, .5);
}
